<h2>Follower Users</h2>
<% if @users.exists? %>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <%= attachment_image_tag( user, :profile_image, format: 'jpg', size: "100x100", fallback: "no-image.png" ) %>
    <% end %>
    <%= user.name %>
    フォロー数：<%= user.followings.count %>
    フォロワー数：<%= user.followers.count %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
