<h3 class="post-show__comments--title">投稿へのコメント<span class="comment-count">(<%= post.post_comments.count %>件)</span></h3>
<ul class="post-show__comments--list">
<% post.post_comments.each do |comment| %>
  <li class="comments-item">
    <% if comment.user == post.user %>
      <div class="comments-item__container post_user_comment">
        <p class="comments-item__contents">
          <span class="nickname"><%= comment.user.name %></span>
          <%= safe_join("#{comment.comment}".split("\n"),tag(:br)) %>
        </p>
        <p class="comments-item__post_user-created"><%= comment.created_at.strftime('%Y.%m.%d') %>
          <% if comment.user == current_user %>
            <%= link_to "", post_post_comment_path(comment.post, comment), method: :delete, remote: true, class: "far fa-trash-alt" %>
          <% end %>
        </p>
      </div>
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag  comment.user, :profile_image, format: 'jpg', fallback: "no_image.jpg" , class: "post-show__info-user--image post_user-image" %>
      <% end %>
    <% else %>
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag  comment.user, :profile_image, format: 'jpg', fallback: "no_image.jpg" , class: "post-show__info-user--image user-image" %>
      <% end %>
      <div class="comments-item__container">
        <p class="comments-item__contents">
          <span class="nickname"><%= comment.user.name %></span>
          <%= safe_join("#{comment.comment}".split("\n"),tag(:br)) %>
        </p>
        <p class="comments-item__current_user-created"><%= comment.created_at.strftime('%Y.%m.%d') %>
          <% if comment.user == current_user %>
            <%= link_to "", post_post_comment_path(comment.post, comment), method: :delete, remote: true, class: "far fa-trash-alt" %>
          <% end %>
        </p>
      </div>
    <% end %>
  </li>
  <% end %>
</ul>