<% users.each do |user| %>
  <div class="user-index__card">
    <%= link_to user_path(user.id) do %>
      <div class="user-index__card-image">
        <div class="user-index__card--profile-image">
          <%= attachment_image_tag user, :profile_image,format: 'jpg', size: "200x200", fallback: "no_image.jpg"  %>
        </div>
        <div class="user-index__card--color"></div>
      </div>
      <div class="user-index__card--info">
        <p class="user-index__card--name">
          <%= user.name %>
        </p>
        <p class="user-index__card--introduction">
          <%= safe_join("#{user.introduction}".split("\n"),tag(:br)) %>
        </p>
      </div>
    <% end %>
    <div id="relationship_<%= user.id %>">
      <%= render partial: "relationships/relationships", locals: { user: user } %>
    </div>
  </div>
<% end %>