<div class="userinfo">
  <div class="userinfo__edit">
    <div class="userinfo__title">
      <h2 class="userinfo__title--name">プロフィール編集</h2>
    </div>
    <% if @user.errors.any? %>
      <div id= error_explanation>
       <h2><%= pluralize(@user.errors.count, "error") %> prohibited this  obj from being saved:</h2>
       <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li class=><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="userinfo__form">
      <%= form_with model: @user, local:true do |f| %>
        <div class="userinfo__form-field">
          <p><%= f.label :プロフィール画像, class: "userinfo__form-field--title" %></p>
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "200x200", id: "img_prev", class: "userinfo__form-field--image" %><br />
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="userinfo__form-field">
          <p><%= f.label :ニックネーム, class: "userinfo__form-field--title" %></p>
          <%= f.text_field :name, class: "userinfo__form-field--name" %>
        </div>
        <div class="userinfo__form-field">
          <p><%= f.label :自己紹介, class: "userinfo__form-field--title" %></p>
          <%= f.text_area :introduction, class: "userinfo__form-field--introduction"  %>
        </div>
        <%= f.submit "登録する", class: "actions-btn" %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#user_profile_image").change(function(){
    readURL(this);
  });
});
</script>