<div class="user-show">
  <!--プロフィール-->
  <div class="user-show__header">
    <div class="user-show__profile">
      <%= attachment_image_tag @user, :profile_image,format: 'jpg', fallback: "no_image.jpg", class: "user-show__profile-image" %>
      <div class="user-show__profile-title">
        <h7 class="user-show__profile-title--name">
          <%= @user.name %>
        </h7>
        <p class="user-show__profile-title--introduction">
          <%= @user.introduction %>
        </p>
      </div>
      <!--フォロー機能-->
      <div class="user-show__usercount">
        <ul>
          <li class="user-show__usercount--item">
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %><span class="itemname">フォロー</span>
            <% end %>
          </li>
          <li class="user-show__usercount--item">
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %><span class="itemname">フォワー</span>
            <% end %>
          </li>
          <li class="user-show__usercount--item">
            <%= @user.posts.count %><span class="itemname">投稿</span>
          </li>
          <li class="user-show__usercount--item">
            <div class="user-show__follwing">
              <div id="relationship_<%= @user.id %>">
                <%= render partial: "relationships/relationships", locals: { user: @user } %>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="user-show__edit-area">
        <% if @user.id == current_user.id %>
          <div>
            <%= link_to "プロフィール編集", edit_user_path(@user), class: "user-show__edit-btn" %>
          </div>
          <div>
            <%= link_to "カレンダー", user_calendar_path(@user), class: "user-show__calendar-btn" %>
          </div>
        <% end %>
       </div>
    </div>
  </div>

  <!--投稿並べ替えリンク-->
  <div class="user-show__posts-link">
    <ul>
      <li class="user-show__posts-link--item">
        <%= link_to "新着順" %>
      </li>
      <li class="user-show__posts-link--item">
        <%= link_to "いいね数順", sort: 'likes_count desc' %>
      </li>
      <% if @user == current_user %>
        <li class="user-show__posts-link--item">
          <%= link_to "下書き", sort: 'draft desc' %>
        </li>
        <li class="user-show__posts-link--item">
          <%= link_to "いいね済み投稿", sort: 'like_post desc' %>
        </li>
      <% end %>
    </ul>
  </div>
  <!--投稿一覧-->
  <div class="user-posts post-index__posts">
    <%= render 'posts/index', posts: @posts %>
  </div>

</div>