<div class="signup">
  <div class="signup-header">
    <div class="signup-header__title">
      <h2>Password Reset</h2>
    </div>
  </div>
  <div class="form-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-body__field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'sign-form' %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードのリセット手順を送ってください", class: 'btn btn-sign' %>
      </div>
   <% end %>
  </div>
  <div class="sign-link">
    <div class="signin-link">
      アカウントをお持ちでない方は<%= link_to "こちらから新規登録", new_user_session_path, class: "link" %>してください
    </div>
    <div class="sigup-link">
      アカウントをお持ちの方は<%= link_to "こちらからログイン", new_user_session_path, class: "link" %>してください
    </div>
  </div>
</div>