<div class="chats">
  <div class="chats__row">
    <div class="chats__headar">
      <div class="chats__headar--title">
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag  @user, :profile_image, fallback: "no_image.jpg" , class: "post-show__info-user--image image" %>
        <% end %>
        <div class="name"><%= @user.name %>さんとのChat</div>
      </div>
    </div>
    <div class="chats__message message" id="scroll-inner">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <div class="current_user">
              <p style="text-align: right;"><%= chat.message %></p>
              <%= attachment_image_tag  chat.user, :profile_image, fallback: "no_image.jpg" , class: "post-show__info-user--image" %>
            </div>
            <p class="time"><%= chat.created_at.strftime("%Y/%m/%d (%H:%M)") %></p>
          <% else %>
          <div class="no-current_user">
            <%= link_to user_path(chat.user.id) do %>
              <%= attachment_image_tag  chat.user, :profile_image, fallback: "no_image.jpg" , class: "post-show__info-user--image" %>
            <% end %>
            <p style="text-align: left;" class="no-current_user-message"><%= chat.message %></p>
          </div>
            <p class="time2"><%= chat.created_at.strftime("%Y/%m/%d (%H:%M)") %></p>
          <% end %>
        <% end %>
    </div>
    <div class="chats__form">
      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message, placeholder: "Enterキーで送信できます", class: "chat-message"%>
        <%= f.hidden_field :room_id %>
      <% end %>
    </div>
  </div>
</div>