<div class="chats">
  <div class="chats__row">
    <div class="chats__headar">
      <div class="chats__headar--title">
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag  @user, :profile_image, fallback: "no_image.jpg" , class: "post-show__info-user--image image" %>
        <% end %>
        <div class="name"><%= @user.name %>さんとのChat</div>
      </div>
    </div>
    <div class="message">
      <%= render 'chats/chat', chats: @chats %>
    </div>
    <div class="chats__form">
      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message, placeholder: "Enterキーで送信できます", class: "chat-message"%>
        <%= f.hidden_field :room_id %>
      <% end %>
    </div>
  </div>
</div>