<div class="main-post">
  <div class="main-post-row">
      <div class="post-index">
        <div class="post-index__title">
          <h2 class="title"> <%= @tag.name %> 一覧<span class="count_body"> (全 <%="#{@posts.count}" %> 件)</span></h2>
        </div>
        <% if @posts.empty? %>
          <%= render 'search/no_posts' %>
        <% else %>
          <!--投稿並べ替えリンク-->
          <div class="post-index__posts-links">
            <%= render 'posts/post-links' %>
          </div>
          <!--投稿一覧-->
          <div class="post-index__posts">
            <%= render 'posts/index', posts: @posts %>
          </div>
        <% end %>
      </div>
    <div class="side-var">
      <%= render 'posts/side-var', categorys: @categorys, tag_list: @tag_list %>
    </div>
  </div>
</div>
