<%= form_with model: post, local: true do |f| %>

 <% if post.errors.any? %>
   <div id= error_explanation >
    <h2><%= pluralize(post.errors.count, "error") %> 件のエラーが発生しました。</h2>
    <ul>
     <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
     </ul>
    </div>
  <% end %>

  <div class="post-actions__form-field image-field">
    <p class="post-actions__form-field--title">画像を登録</p>
    <%= attachment_image_tag post, :image, fallback: "no-image.png", id: "img_prev", size: "520x293", class: "post-actions__form-field--image" %><br />
    <%= f.attachment_field :image %>
  </div>
  <div class="post-actions__form-field introduction-field">
    <p class="post-actions__form-field--title">投稿追加</p>
    <%= f.text_area :introduction, class: "post-actions__form-field--introduction" %>
  </div>

  <div class="post-actions__form-field category-field">
    <p class="post-actions__form-field--title">カテゴリー選択</p>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, class: "post-actions__form-field--category" ) %>
  </div>

  <div class="post-actions__form-field tag-field">
    <p class="post-actions__form-field--title">タグを追加</p>
  <%= f.text_field :tag_ids, value: @tag_list, class: "form-control", id: 'tag_ids',\
  placeholder: "タグをつけるには全角スペースで区切ってください", class: "post-actions__form-field--tag" %>
  </div>

  <div class="post-actions__form-field calemdar-field">
    <p class="post-actions__form-field--title">カレンダーの日付登録</p>
    <%= f.date_field :start_time, class: "post-actions__form-field--calemdar" %>
  </div>
  <div class="post-actions__form-field address-field">
    <p class="post-actions__form-field--title">住所を登録</p>
    <%= f.text_field :address, id: "address", class: "post-actions__form-field--address" %>
    <input type="button" value="検索" onclick="codeAddress()" class="form-btn">
  </div>

  <% if post.address.blank? %>
    <div id='map'></div>
  <% else %>
    <div id='show_map'></div>
  <% end %>

    <div class="status-field">
      <%= f.radio_button :status, "投稿する" %>
      <%= f.label :status_0, '投稿する'  %>
      <%= f.radio_button :status, "下書きする"%>
      <%= f.label :status_1, '下書きする' %>
    </div>

  <%= f.submit post_button, class: "actions-btn" %>
<% end %>