<h2>投稿編集</h2>
<%= form_with model: @post, local: true do |f| %>
  <div class="actions">
    <%= f.label :image, "画像を登録" %>
    <%= f.attachment_field :image %><br />
    <%= f.label :introduction,"内容" %>
    <%= f.text_area :introduction %><br />
    <%= f.label"タグ (スペースで区切ると複数タグ登録できます)" %><br />
    <%= f.text_field :tag_name, value: @tag_list  %><br />
    <%= f.label :address,"住所" %>
    <%= f.text_field :address, id: "address" %><br />
    <input type="button" value="検索" onclick="codeAddress()">
    <div id='show_map'></div>
    <%= f.submit %>
  </div>
<% end %>