<h2>新規投稿</h2>
<%= form_with model: @post, local: true do |f| %>
  <div class="actions">
    <%= f.label :image, "画像を登録" %>
    <%= f.attachment_field :image, format: 'jpg' %><br />
    <%= f.label :introduction,"内容" %>
    <%= f.text_area :introduction, id: 'my-text-area'%><br />
    <%= f.label :category_id,"カテゴリー" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, ) %><br />
    <%= f.label"タグ" %><br />
    <%= f.text_field :tag_ids, class: "form-control", id: 'tag_ids',\
    placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
    <%= f.label :start_time %>
    <%= f.date_field :start_time %><br />
    <%= f.label :address,"住所" %>
    <%= f.text_field :address, id: "address" %><br />
    <input type="button" value="検索" onclick="codeAddress()">
    <div id='map'></div>
    <%= f.submit %>
  </div>
<% end %>


<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<script>
var easyMDE = new EasyMDE({element: $('#my-text-area')[0]});
</script>
