<h2>詳細</h2>

<div>
  <%= link_to user_path(@user.id) do %>
    <%= attachment_image_tag( @user, :profile_image, format: 'jpg', size: "100x100", fallback: "no-image.png" ) %>
    <%= @user.name %>
  <% end %>
  ♡<%= @post.likes.count %>
  投稿日時:<%= @post.created_at.strftime('%Y/%m/%d') %>
  <P>画像：<%=  attachment_image_tag @post, :image, format: 'jpg', size: "100x100" %></P>
  <p>説明：<%= @post.introduction %></p>
  <p>カテゴリー：<%= @post.category.name %></p>
  <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag.id) %>
  <% end %>
</div>

<!--いいね機能-->
<div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/likes', locals: { post: @post } %>
</div>

<!--コメント機能-->
<div id="comments-area">
    <%= render partial: "post_comments/post_comments", locals: { post: @post, post_comment: @post_comment } %>
</div>



<% if @post.user == current_user %>
  <%= link_to "edit" , edit_post_path(@post) %>
  <%= link_to "destroy" , post_path(@post),  method: :delete, data: { confirm: '本当に消しますか？' } %>
<% end %>
<% if @post.address.present? %>
  <p>住所：<%= @post.address %></p>
  <div id="show_map"></div>
<% end %>
