<div class="main-post">
  <div class="main-post-row">
      <div class="post-index">
        <div class="post-index__title">
          <h2 class="title"> <%= @categorys.name %> 一覧<span class="count_body"> (全 <%="#{@posts.count}" %> 件)</span></h2>
        </div>
        <% if @posts.empty? %>
          <div class="post-index__posts-no">
            <div class="post-index__posts-no--title">
              <p class="post-index__posts-no--not">Not Found</p>
              <p class="post-index__posts-no--find">お探しの投稿が見当たりません。</p>
              <p class="post-index__posts-no--find">変更または削除された可能性があります。</p>
            </div>
          </div>
        <% else %>
          <!--投稿並べ替えリンク-->
          <div class="post-index__posts-links">
            <%= render 'posts/post-links' %>
          </div>
          <!--投稿一覧-->
          <div class="post-index__posts">
            <%= render 'posts/index', posts: @posts %>
          </div>
        <% end %>
      </div>
    <div class="side-var">
      <%= render 'posts/side-var', category: @category, tag_list: @tag_list %>
    </div>
  </div>
</div>