<header class="header">
  <h1 class="header__logo">
    <a class="header__logo-link" href="/" ><%= image_tag 'Logo.png', class: "logo" %></a>
  </h1>
  <nav class="header__navbar" id="sp-menu">
    <ul class="header__navbar-menu">
      <% if user_signed_in? %>
        <li class="header__navbar-men-title">
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to "新規投稿", new_post_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to 'マイページ', user_path(current_user.id) %>
        </li>
        <li class="header__navbar-men-title">
        <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
        <% end %>
          <%= link_to '通知', notifications_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="header__navbar-men-title">
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="header__navbar-men-title">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </ul>
    <ul class="header__navbar-menu header__search">
      <%= render 'layouts/search' %>
    </ul>
  </nav>

  <div id="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>
</header>

<script>
$(function() {
  // .menu-triggerクリック時に行われる処理
  $('.menu-trigger').on('click', function(event) {
    // toggleClass()を設定すると、アイコンがクリックされたときにactiveクラスが追加され、もう一度クリックすると削除され
    $(this).toggleClass('active');
    // .fadeToggle()は、要素のフェードイン・フェードアウトを切り替えるメソッド
    $('#sp-menu').fadeToggle();
    event.preventDefault();
  });
});
</script>